<div>
            <!-- AQUÍ COMIENZA EL ESPACIO A MODIFICAR -->

            <div class="row">

                    <div>


                               <div class="col-md-5" id="fotoPortada">
                                <img src="https://scontent-lga3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/12039309_1074673569218239_7691809966629379106_n.jpg?oh=b323597e11c93d0ee6338a01ea743693&oe=5737F60C"
                                     class="img-rounded" width="350" height="200" />
                               </div>
                               <div class="col-md-2" id="fotoPerfil">
                               <img src="resources/imagenes/persona.jpg"
                                    class="img-thumbnail" width="100" height="100" />
                               </div>
                               <div class="col-md-5" id="descripcionBasicaPerfil">
                                    <h1>Juan José Castro</h1>
                                    <h4>Colombiano</h4>
                                    <span>¡Me encanta viajar! Fanático de las aventuras extremas y de los paisajes exóticos. Sueño con recorrer todo el mundo.</span>
                               </div>



                    </div>

            </div>


        <div class="row">
            <div class="col-md-12" >
               <nav class="navegacionPerfil">
                <div class="container-fluid" id = "navegacion">
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="barraOpcionesPerfil">
                    <ul class="nav navbar-nav" id ="navBarPerfil" >
                      <li><a id="elementosBarraPerfil" data-ui-sref="perfil">Principal</a></li>
                      <li><a id="elementosBarraPerfil" data-ui-sref="perfil.infogeneral">Datos Personales</a></li>
                      <li class="dropdown">
                        <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" data-aria-expanded="false" id="elementosBarraPerfil">Recuerdos<span class="caret"></span></a>
                        <ul class="dropdown-menu" id ="desplegableRecuerdos" >
                          <!--<li><a data-ui-sref="perfil.recuerdo">Tour por Colombia {{prueba}}</a></li>-->
                          <li ng-repeat ="record in records"><a data-ui-sref="perfil.recuerdo" ng-click="ctrl.actualizarCurrent(record)">{{record.name}}</a></li>
                        </ul>
                      </li>
                       
                      
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
                </nav>

            </div>
        </div>

          <div class="row top-buffer" >



            <div class="col-md-12">
                <div id="contenido" data-ui-view="viewA">
                    
                    <div div ng-show="read" class="ng-hide">
                    <h2>¡Bienvenido!</h2>
                   <!-- <p>
                        MASTER: {{master}}
                        <br>
                        USER: {{user}}
                    </p>-->
                    <p>Esta es tu sección de perfil, aquí encontraras tu información personal, también podrás guardar fotos y recuerdos de tus viajes pasados.</p>
                    <button id = "addRecuerdo" type="button" class="btn btn-default" aria-label="Center Align" ng-click="ctrl.editTrue()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Nuevo Recuerdo
                    </button>
                    </div>
                    
                    <div ng-show="edit" class="ng-hide"> 
                    <form novalidate name="form" id="datos-form" role="form" ng-submit="ctrl.update(user)">
                        <alert ng-messages="form.$error" type="danger" close="" ng-hide="!form.$error.required">
                            <div ng-message="required">
                                Please, Fill the required fields!
                            </div>
                        </alert>  
                        <fieldset>
                            <input id="id" class="form-control" type="hidden" ng-model="userR.id"/>
                            <div class="form-group col-md-12" ng-class="{'has-success': form.nombre.$valid && form.nombre.$dirty, 'has-error': form.nombre.$invalid && (form.nombre.$dirty || form.$submitted)}" >
                                <label for="nombre" class="col-md-2 control-label">Nombre</label>
                                <div class="col-md-10">
                                    <input id="nombreRecuerdo" name="nombre" class="form-control" type="text" ng-model="user.name" required />
                                </div>
                            </div>
                            <div class="form-group col-md-12" ng-class="{'has-success': form.desc.$valid && form.desc.$dirty, 'has-error': form.desc.$invalid && (form.desc.$dirty || form.$submitted)}" >
                                <label for="desc" class="col-md-2 control-label">Descripción</label>
                                <div class="col-md-10">
                                    <input id="descRecuerdo" name="desc" class="form-control" type="text" ng-model="user.descripcion" required />
                                </div>
                            </div>   
                        </fieldset>
                    </form>
                    <button id="guardar-datos" type="submit" form="datos-form" class="btn btn-default navbar-btn">
                    <span class="glyphicon glyphicon-save"></span> Guardar
                    </button>
                    <button type="button" class="btn btn-default" aria-label="Center Align" ng-click="ctrl.reset()">
                              Cancelar
                    </button>
                    <!--<p>
                        MASTER: {{master}}
                        <br>
                        USER: {{user}}
                    </p>-->
                </div>
                <div div ng-show="delete" class="ng-hide">
                <h2>¡Bienvenido!</h2>
               <!-- <p>
                    MASTER: {{master}}
                    <br>
                    USER: {{user}}
                </p>-->
                <p>Esta es tu sección de perfil, aquí encontraras tu información personal, también podrás guardar fotos y recuerdos de tus viajes pasados.</p>
                <button id = "addRecuerdo" type="button" class="btn btn-default" aria-label="Center Align" ng-click="ctrl.editTrue()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Nuevo Recuerdo
                </button>
                </div>
                </div>
           </div>
        </div>
            
            
        


            <!-- AQUÍ TERMINA EL ESPACIO A MODIFICAR -->
        </div>
 
