<div ng-hide="registrado">
    <form class="form-signin col-md-7 col-md-offset-2">
        <h2 class="form-signin-heading">Regístrate</h2>
        <label for="inputNombre" class="sr-only">Nombre</label>
        <input type="text" id="inputNombre" class="form-control" placeholder="Nombre" ng-model="usr.nombre" required autofocus><br/>

        <label for="inputApellido" class="sr-only">Apellido</label>
        <input type="text" id="inputApellido" class="form-control" placeholder="Apellido" ng-model="usr.apellido" required autofocus><br/>

        <label for="cedula" class="sr-only">Cédula</label>
        <input type="text" id="cedula" class="form-control" placeholder="Cédula" ng-model="usr.cedula" required autofocus><br/>

        <label for="inputEmail" class="sr-only">Correo electrónico</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Correo electrónico" ng-model="usr.email" required autofocus><br/>

        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" ng-model="usr.pass" required><br/>

        <label for="inputRepPassword" class="sr-only">Repetir contraseña</label>
        <input type="password" id="inputRepPassword" class="form-control" placeholder="Repetir contraseña" ng-model="usr.repPass" required><br/>

        <button class="btn btn-lg btn-default btn-block" ng-click="ctrl.crearUsuario()">Registrarse</button>
      </form>
</div>
<div class="alert alert-success" role="alert" ng-show="registrado"><strong>¡Felicitaciones! </strong> Te has registrado.</div>
