<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#eventos-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand">Eventos</a>
</div>

<div class="collapse navbar-collapse" id="eventosp-navbar">
    <button id="create-eventosp" class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="ctrl.createRecord()"><span class="glyphicon glyphicon-plus"></span> Create</button>
    <button id="refresh-eventosp" class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="ctrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
    <button id="save-eventosp" type="submit" form="eventosp-form" class="btn btn-default navbar-btn" ng-show="ctrl.editMode"><span class="glyphicon glyphicon-save"></span> Save</button>
    <button id="cancel-eventosp" type="button" form="eventosp-form" class="btn btn-default navbar-btn" ng-show="ctrl.editMode" ng-click="form.$setPristine(); ctrl.fetchRecords();"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
</div>

<div ng-hide="ctrl.editMode" class="col-md-6">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records">
                <td id="{{$index}}-name">{{record.name}}</td>
                <td>
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ng-click="ctrl.editRecord(record)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-show="ctrl.editMode" class="col-md-6 well">
    <form novalidate name="form" id="eventosp-form" role="form" ng-submit="form.$valid && ctrl.saveRecord()">
        <alert ng-messages="form.$error" type="danger" close="" ng-hide="!form.$error.required">
            <div ng-message="required">
                Por favor llenar la informacion!
            </div>
        </alert>
        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
            <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                <label for="name" class="col-md-2 control-label">Nombre</label>
                <div class="col-md-10">
                    <input id="name" name="name" class="form-control" type="text" ng-model="currentRecord.name" required />
                </div>
                <label for="pais" class="col-md-2 control-label">Pais</label>
                    <div class="col-md-10">
                    <input id="description" name="pais" class="form-control" type="text" ng-model="currentRecord.pais" required />
                    </div>
                <label for="latitud" class="col-md-2 control-label">Latitud</label>
                    <div class="col-md-10">
                    <input id="latitud" name="latitud" class="form-control" type="text" ng-model="currentRecord.latitud" required />
                    </div>
                <label for="longitud" class="col-md-2 control-label">Longitud</label>
                    <div class="col-md-10">
                    <input id="longitud" name="longitud" class="form-control" type="text" ng-model="currentRecord.longitud" required />
                    </div>
        </fieldset>
    </form>
</div>
