<div>
        <div ng-show="read" class="ng-hide"> 
            <h2>Información General
              <button id = "cofigPerfil" type="button" class="btn btn-default" aria-label="Center Align" ng-click="ctrl.editTrue()">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
             </button>
             <button id = "delInfo" type="button" class="btn btn-default" aria-label="Center Align" ng-click="ctrl.deleteInfo()">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
             </button>
            </h2>
            
            <!--<p>
        MASTER: {{master}}
        <br>
        USER: {{user}}
    </p>-->
                      
            <div >
                    <table style="width:100%">
                      <tr>
                        <th>Nombre:</th>
                        <td>{{master.nombre}}</td>
                      </tr>
                      <tr>
                        <th>Lugar de Nacimiento:</th>
                        <td>{{master.lugNac}}</td>
                      </tr>
                      <tr>
                        <th>Fecha de Nacimiento:</th>
                        <td>{{master.fecNac}}</td>
                      </tr>
                      <tr>
                        <th>Ciudad Favorita:</th>
                        <td>{{master.ciuFav}}</td>
                      </tr>
                      <tr>
                        <th>Correo Electronico:</th>
                        <td>{{master.email}}</td>
                      </tr>
                      <tr>
                        <th>Telefono de Contacto:</th>
                        <td>{{master.telCon}}</td>
                      </tr>
                    </table>
                </div>
            
        </div>
<div ng-show="edit" class="ng-hide"> 
    <form novalidate name="form" id="datos-form" role="form" ng-submit="ctrl.update(user)">
        <alert ng-messages="form.$error" type="danger" close="" ng-hide="!form.$error.required">
            <div ng-message="required">
                Please, Fill the required fields!
            </div>
        </alert>  
        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="user.id"/>
            <div class="form-group col-md-12" ng-class="{'has-success': form.nombre.$valid && form.nombre.$dirty, 'has-error': form.nombre.$invalid && (form.nombre.$dirty || form.$submitted)}" >
                <label for="nombre" class="col-md-2 control-label">Nombre</label>
                <div class="col-md-10">
                    <input id="nombre" name="nombre" class="form-control" type="text" ng-model="user.nombre" required />
                </div>
            </div>
            <div class="form-group col-md-12" ng-class="{'has-success': form.lugNac.$valid && form.lugNac.$dirty, 'has-error': form.lugNac.$invalid && (form.lugNac.$dirty || form.$submitted)}" >
                <label for="lugNac" class="col-md-2 control-label">Lugar de Nacimiento</label>
                <div class="col-md-10">
                    <input id="lugNac" name="lugNac" class="form-control" type="text" ng-model="user.lugNac" required />
                </div>
            </div>
            <div class="form-group col-md-12" ng-class="{'has-success': form.fecNac.$valid && form.fecNac.$dirty, 'has-error': form.fecNac.$invalid && (form.fecNac.$dirty || form.$submitted)}" >
                <label for="fecNac" class="col-md-2 control-label">Fecha de Nacimiento</label>
                <div class="col-md-10">
                    <input id="fecNac" name="fecNac" class="form-control" type="text" ng-model="user.fecNac" required />
                </div>
            </div>
            <div class="form-group col-md-12" ng-class="{'has-success': form.ciuFav.$valid && form.ciuFav.$dirty, 'has-error': form.ciuFav.$invalid && (form.ciuFav.$dirty || form.$submitted)}" >
                <label for="ciuFav" class="col-md-2 control-label">Ciudad Favorita</label>
                <div class="col-md-10">
                    <input id="ciuFav" name="ciuFav" class="form-control" type="text" ng-model="user.ciuFav" required />
                </div>
            </div>
            <div class="form-group col-md-12" ng-class="{'has-success': form.email.$valid && form.email.$dirty, 'has-error': form.email.$invalid && (form.email.$dirty || form.$submitted)}" >
                <label for="email" class="col-md-2 control-label">Correo Electronico</label>
                <div class="col-md-10">
                    <input id="email" name="email" class="form-control" type="text" ng-model="user.email" required />
                </div>
            </div>
            <div class="form-group col-md-12" ng-class="{'has-success': form.telCon.$valid && form.telCon.$dirty, 'has-error': form.telCon.$invalid && (form.telCon.$dirty || form.$submitted)}" >
                <label for="telCon" class="col-md-2 control-label">Telefono de contacto</label>
                <div class="col-md-10">
                    <input id="telCon" name="telCon" class="form-control" type="text" ng-model="user.telCon" required />
                </div>
            </div>
            
        </fieldset>
    </form>
    <button id="guardar-datos" type="submit" form="datos-form" class="btn btn-default navbar-btn">
    <span class="glyphicon glyphicon-save"></span> Guardar
    </button>
    <button type="button" class="btn btn-default" aria-label="Center Align" ng-click="ctrl.reset()">
              Cancelar
    </button>
    <!--<p>
        MASTER: {{master}}
        <br>
        USER: {{user}}
    </p>-->
</div>
    
</div>